@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/lato-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Lato, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

em {
  margin-right: 0.15em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

label {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-family: Lato, sans-serif;
  outline: none;
  padding: 8px;
}

input:valid {
  border-color: #34d399;
}

input:invalid {
  border-color: #dc2626;
}

input#password:focus:invalid,
input#confirm-password:focus:invalid {
  border-color: #dc2626;
  box-shadow: 0 0 4px rgba(220, 38, 38, 0.5);
}

input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.5);
}

button {
  align-self: flex-start;
  background-color: #5a8f4f;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 36px;
  padding: 16px 48px;
}

button:hover {
  background-color: #4d7a3a;
}

.image-sidebar {
  position: relative;
  flex: 0 0 40%;
}

.credits,
.credits > a {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.credits {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.container {
  background-color: #f7f7f7;
  display: flex;
  flex: 0 0 60%;
  flex-direction: column;
  justify-content: center;
}

.introduction {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 48px;
  padding: 0px 36px;
}

.introduction > div + div + div {
  margin-top: 24px;
}

.form-header {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 8px;
  flex: 1 1 100%;
}

.form-content {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 10%;
}

.form-group {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.log-in {
  margin-top: 36px;
  padding: 0px 36px;
  display: flex;
  gap: 4px;
}

.log-in > a {
  color: #5a8f4f;
  font-weight: 700;
  text-decoration: none;
}
